@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

body{ 
    font-family: Montserrat; 
    text-align: center; 
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: Montserrat;
    font-weight:300;
    font-size:40px;
}

section{
    display: table;
}

nav{
    position: fixed;
    top: 0%;
    float: left;
    height: 100%;
    width: 5%;
    background: #1a2930;
}

nav ul{
    padding: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
}

nav img{
    position: absolute;
    bottom: 10%;
    left: 35%;
}

content {
    position: fixed;
    left: 5%;
    float: left;
    width: 95%;
    height: 100%;
    background: #c5c1c0;
}

.dashboard{
    position: relative;
    top: 10%;
    left: auto;
}

.calendar{
    position: relative;
    top: 15%;
    left: auto;
    background: #f7ce3e;
    height: 40px;
}

.taskcreate{
    position: relative;
    top: 20%;
    left: auto;
}

.settings{
    position: relative;
    top: 25%;
    left: auto;
}

.forms{
    display: inline;
}